.footer {
  width: 100vw;
  height: 220px;
  background-color: var(--background-black-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondFooter {
  width: 80%;
  height: 100%;
}
.topDivFooter {
  width: 100%;
  height: 190px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-text-color);
}
.bottomDivFooter {
  text-align: center;
  color: rgba(212, 212, 212, 0.329);
  font-size: 12px;
}
.topDivFooter > div:nth-of-type(1) {
  width: 100%;
  height: 30px;
  text-align: center;
  opacity: 0.5;
}
.footerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  border-top: 1px solid rgba(255, 255, 255, 0.171);
  border-bottom: 1px solid rgba(255, 255, 255, 0.171);
}
.navBarFooterLinks {
  display: flex;
  justify-content: center;
  color: rgb(109, 109, 109);
}
.footerInfo > div {
  width: fit-content;
  height: 90%;
  margin: 0px 20px;
}
.footerNavBarTitle {
  width: 110px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.footerNavBarLinks {
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footerNavBarLinks > div {
  width: 100px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.footerNavBarLinks > div:hover,
.footerNavBarTitle:hover {
  transition: 0.3s;
  color: rgb(180, 180, 180);
  background-color: rgb(34, 35, 39);
  box-shadow: 0px 0px 10px 0px black;
}
