.navBarContainer {
  position: fixed;
  top: 50%;
  right: 0;
  width: 87px;
  height: 200px;
  translate: 5px -50%;
  z-index: 10;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.navBarContainer > a {
  background-color: rgba(255, 0, 0, 0.452);
  border-radius: 2px;
  margin: 8px;
  width: 69px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.527);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.247);
}
@media only screen and (max-width: 600px) {
  .navBarContainer {
    display: none;
  }
}
