.carouselContainer {
  width: 100%;
  height: 100%;
}
.carouselContainer > .carouselClass {
  height: auto;
}
.carouselImages {
  width: 100%;
  height: 350px;
}
@media only screen and (max-width: 600px) {
  .carouselImages {
    height: 220px;
  }
}
