.main {
  width: 100vw;
  background-color: rgb(255, 255, 255);
}
.firstCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.cards {
  width: 95%;
  height: fit-content;
  margin-top: 30px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/*
=======================
sub : left bar
=======================
*/
.leftBar {
  width: 60%;
  height: 540px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.illustrationPresontation {
  width: 600px;
  height: 350px;
  background-image: url("../public/index/ilu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.leftBarDescriptionCard {
  width: 650px;
  height: fit-content;
  position: relative;
  background-color: white;
  color: rgb(26, 26, 26);
  padding: 10px 30px;
  border: 1px solid rgba(0, 0, 0, 0.096);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleLeftBar {
  margin: 0;
  width: fit-content;
  font-size: 50px;
  display: flex;
  justify-content: flex-start;
}
.p1DescriptionLeftBar {
  font-size: 18px;
  width: 100%;
}
.leftBarDescriptionCard::after {
  content: "";
  width: 400px;
  height: 100px;
  position: absolute;
  top: -2px;
  left: -2px;
  border-top: 3px solid black;
  border-left: 3px solid black;
  z-index: 2;
}
.leftBarDescriptionCard::before {
  content: "";
  width: 400px;
  height: 100px;
  position: absolute;
  bottom: -2px;
  right: -2px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  z-index: 2;
}
/*
=======================
sub : right bar
=======================
*/
.rightBar {
  width: 35%;
  height: 550px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.514);
  position: relative;
  z-index: 3;
  background-image: url("../public/index/photoNassimPortPholioW.jpg");
  background-size: cover;
  border-radius: 2px;
  background-position: -35px 0px;
}
@media only screen and (max-width: 600px) {
  .cards {
    flex-direction: column;
    height: auto;
    margin-bottom: 0px;
  }
  .leftBar {
    width: 90%;
    height: fit-content;
  }
  .illustrationPresontation {
    width: 100%;
    height: 200px;
    background-position: -24px 0px;
  }
  .leftBarDescriptionCard {
    width: 100%;
    height: auto;
    border-radius: 2px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .titleLeftBar {
    font-size: 40px;
    margin: 0;
    padding: 0;
  }
  .pDescriptionContainer {
    width: 100%;
    height: fit-content;
  }
  .p1DescriptionLeftBar {
    font-size: 20px;
  }
  .p2DescriptionLeftBar {
    margin: 0;
    font-size: 20px;
    width: fit-content;
  }
  .leftBarDescriptionCard::after {
    width: 200px;
    height: 60px;
  }
  .leftBarDescriptionCard::before {
    width: 200px;
    height: 60px;
  }
  .rightBar {
    width: 90%;
    height: 300px;
    background-color: white;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: none;
    background-position: 0px 0px;
  }
}
